html, body{
    min-height: 100%;
    font-family: 'Bitter', serif;
    background: linear-gradient(90deg, #FFFF99,#301860);
  }

  .container {
    margin: auto;
    width: 50%;
    padding: 10px;
  }
  
  .Hat_Top {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 45%;
    top: 23px;
    width: 60px;
    height: 46px;
    z-index: 19;
  }
  
  .Hat_Middle {
    background-color: rgb(255, 0, 0);
    position: absolute;
    left: 868px;
    top: 60px;
    width: 51px;
    height: 14px;
    z-index: 18;
  }
  
  .Hat_Bottom {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 850px;
    top: 68px;
    width: 88px;
    height: 13px;
    z-index: 17;
  }
  
  .Scarf_Right {
    background-color: rgb(0, 191, 243);
    position: absolute;
    left: 905px;
    top: 137px;
    width: 24px;
    height: 59px;
    z-index: 16;
  }
  
  .Scarf_Center {
    background-color: rgb(0, 191, 243);
    position: absolute;
    left: 860px;
    top: 137px;
    width: 65px;
    height: 18px;
    z-index: 15;
  }
  
  .Scarf_Left {
    background-color: rgb(0, 191, 243);
    position: absolute;
    left: 880px;
    top: 152px;
    width: 18px;
    height: 29px;
    z-index: 14;
  }
  
  .Nose {
    background-color: rgb(242, 101, 34);
    position: absolute;
    left: 890px;
    top: 109px;
    width: 10px;
    height: 20px;
    z-index: 13;
  }
  
  .Eye_Right {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 875px;
    top: 95px;
    width: 9px;
    height: 8px;
    z-index: 5;
  }
  
  .Eye_Left {
    background-color: rgb(0, 0, 0);
    position: absolute;
    left: 905px;
    top: 95px;
    width: 9px;
    height: 8px;
    z-index: 4;
  }
  
  .Ellipse_Top {
    border-width: 3.571px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 855px;
    top: 67px;
    width: 74.858px;
    height: 76.858px;
    z-index: 3;
  }
  
  .Ellipse_Middle {
    border-width: 3.571px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 835px;
    top: 142px;
    width: 113.858px;
    height: 106.858px;
    z-index: 2;
  }
  
  .Ellipse_Bottom {
    border-width: 3.571px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 815px;
    top: 223px;
    width: 155.858px;
    height: 140.858px;
    z-index: 1;
  }